@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  /* Pour Firefox */
  scrollbar-width: none;
  /* Pour Internet Explorer et Edge (anciennes versions) */
  -ms-overflow-style: none;
}

/* Pour Chrome, Safari et les navigateurs basés sur WebKit (Edge récent, Opera) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #020617;
  color: #e2e8f0;
}

/* --- Style de la barre de défilement façon RPG --- */
.custom-scrollbar {
  scrollbar-width: thin; /* Pour Firefox */
  scrollbar-color: rgba(217, 119, 6, 0.5) transparent; /* amber-600 avec transparence */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Très fin pour ne pas gêner la lecture */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(217, 119, 6, 0.5); /* amber-600 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(245, 158, 11, 0.8); /* amber-500 au survol */
}
