@let h = host();

@if (!h.state.isDm() || h.state.sessionView() === 'combat') {
  <section
    id="play-embedded-initiative"
    tabindex="-1"
    class="space-y-4 outline-none"
  >
    <app-play-combat-header [host]="h" />
    <app-play-battle-map [sessionView]="h.state.sessionView()" />
    <app-play-table-chat
      [showMacros]="false"
      [showThread]="true"
      (macroNextTurn)="h.ctrl.nextTurn()"
      (macroEndCombat)="h.ctrl.endCombat()"
    />
    @if (h.state.activeCombat()) {
      <app-play-combat-tracker [host]="h" />
      <app-play-combat-fight [host]="h" />
      <app-play-combat-setup [host]="h" />
    } @else {
      <app-play-combat-idle [host]="h" />
    }
  </section>
}
